@import 'variables'

border-radius(radius = 50%)
  border-radius: radius
  -moz-border-radius: radius
  -webkit-border-radius: radius

note-Btn()
  //position: relative
  width: 30px
  height: 30px
  text-align: center
  border-radius()
  opacity: 0.5
  border: none
  background: #ffff6b
  //filter: drop-shadow(1px 1px 0.05rem #999399)

note-icon(note)
  content:''
  display: block
  position: relative
  opacity: 0.7
  top: 50%
  left: 30%
  if note == 'left'
    border-top: triangle-side 
    border-right: triangle-base
    border-bottom: triangle-side
    margin: 0px 8px 0 -10px
  else if note == 'up'
    border-left: triangle-side
    border-right: triangle-side
    border-bottom: triangle-base
    margin: -2px 7px 0 -4px
  else if note == 'right'
    border-top: triangle-side 
    border-left: triangle-base
    border-bottom: triangle-side
    margin: 0px 0px 0 -2px
  else if note == 'down'
    border-left: triangle-side
    border-right: triangle-side
    border-top: triangle-base
    margin: 2px 6px 0 -4px
  else if note == 'aKey'
    content: 'A'
    text-align: center
    color: white
    background: transparent
    margin: 0px 0px 0px -11px
    
