@import 'variables'

border-radius(radius = 50%)
  border-radius: radius
  -moz-border-radius: radius
  -webkit-border-radius: radius

note-Btn()
  position: relative
  width: 30px
  height: 30px
  text-align: center
  border-radius()
  opacity: 0.7
  border: none
  background: yellow
  //left
  &[data-key="37"] 
    top: 45px
    &:before
      note-icon('left')
  //up
  &[data-key="38"]
    top:17px
    &:before
      note-icon('up')
  //right
  &[data-key="39"]
    top:60px
    &:before
      note-icon('right')
  //down
  &[data-key="40"]
    top: 85px
    &:before
      note-icon('down')
  //A
  &[data-key="65"]
    top: 110px
    background: blue
    &:before
      note-icon('aKey')




note-icon(note)
  content:''
  display: block
  position: absolute
  opacity: 0.7
  top: 50%
  left 35%
  if note == 'left'
    border-top: triangle-side 
    border-right: triangle-base
    border-bottom: triangle-side
    margin: -7px 0 0 -4px
  else if note == 'up'
    border-left: triangle-side
    border-right: triangle-side
    border-bottom: triangle-base
    margin: -7px 0 0 -3px
  else if note == 'right'
    border-top: triangle-side 
    border-left: triangle-base
    border-bottom: triangle-side
    margin: -7px 0 0 0px
  else if note == 'down'
    border-left: triangle-side
    border-right: triangle-side
    border-top: triangle-base
    margin: -5px 0 0 -3px
  else if note == 'aKey'
    content: 'A'
    text-align: center
    color: white
    background: blue
    margin: -20% 0 0 0  
    