/* @require './_*.styl' */
@import 'mixins'
@import 'variables'


html, body
  height:100%
  background: #111
  
.App
  margin: 0
  text-align: center;
  color: #f4c242
  font-family: Georgia, serif


.App-header
  background-color: #282c34
  min-height: 30vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(50px + 2vmin)
  color: white;
  font-family: Georgia, serif

.SongManager
  display:flex
  padding-top: 20px
  flex-direction: row
  justify-content: center
  flex: 1 1 auto

hr
  height: 1px
  padding:0
  margin: 0.75em 0 

.musicTemplate
  display: flex
  justify-content: center
  flex-direction: column
  padding-top: 20px
  padding-bottom: 20px
  text-align: center
  flex:0 0 500px
  width: 500px



.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 1.5em;
  left: 0.15em;
  //position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 1.5em;
  //flex-basis: 10%
}


.chevron.right:before {
  //left: 60px;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: -60px;
  transform: rotate(-135deg);
}

.left
  padding-right: 1vw
  left: -300px

.right
  padding-left: 1vw
  right: -300px

.chevron
  color: #f4c242
  padding-top: 15vh
  &:hover
    color: #0B51CB
    cursor: pointer

.btn
  border: none 
  background: none
  padding: 0
  position: relative
  top: 100px


.noteBtn
  note-Btn()

.noteBtn-0
  note-Btn()
  


.noteBtn-1
  note-Btn()
  
 

.noteBtn-2
  note-Btn()
 
  

.noteBtn-3
  note-Btn()
  

.noteBtn-4
  note-Btn()
  

.noteBtn-5
  note-Btn()
  

.firstline
  bottom: 10px


.noteContainer
  position: absolute
  display: grid
  width: 500px
  padding-left: 100px
  grid-template-columns: repeat(8, 20px)
  grid-gap: 30px

.noteContainer > .note-Btn


.maxOpacity
  opacity: 1
  transition: 0.5s

.noteBtn-left
  margin-top: 45px
  &:before
    note-icon('left')

.noteBtn-right
  margin-top:60px
  &:before
    note-icon('right')

.noteBtn-up
  margin-top:17px
  &:before
    note-icon('up')

.noteBtn-down
  margin-top: 85px
  &:before
    note-icon('down')

.noteBtn-aKey
  margin-top: 110px
  background: #2756D7 !important
  &:before
    note-icon('aKey')

.song-title
  color: #45BDE2
  font-size: calc(15px + 2vmin)

.title
  font-size: calc(15px + 2vmin)

//Title colors
.zelda
  color:#45BDE2

.saria
  color: #45E26A

.epona
  color: #E26A45

.sun
  color: #DDB64A

.time
  color: #A827D7


footer 
  margin-top: 5%;
  text-align: center;
  color: white;
  font-family: Georgia, serif;
  font-size:calc(5px + 1vmin)

footer p:first-child
  font-size: calc(10px + 1vmin) !important
