/* @require './_*.styl' */
html,
body {
  height: 100%;
  background-color: #add8e6;
}
.App {
  margin: 0;
}
.SongManager {
  display: flex;
  padding-top: 20px;
  flex-direction: row;
}
hr {
/*display: block*/
  height: 1px;
  padding: 0;
  margin: 0.75em 0;
}
.musicTemplate {
  background-color: #0ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  text-align: center;
  flex: 0 0 500px;
  width: 500px;
}
.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 1.5em;
  left: 0.15em;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 1.5em;
}
.chevron.right:before {
  transform: rotate(45deg);
}
.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}
.chevron.left:before {
  left: -60px;
  transform: rotate(-135deg);
}
.left {
  padding-right: 1vw;
}
.right {
  padding-left: 1vw;
}
.chevron {
  padding-top: 15vh;
}
.chevron:hover {
  color: #0b51cb;
  cursor: pointer;
}
.button-0 {
  position: relative;
  left: 50px;
}
.button-1 {
  position: relative;
  display: block;
  right: 125px;
}
.button-2 {
  position: relative;
  right: 50px;
}
.button-3 {
  position: relative;
  right: -25px;
}
.button-4 {
  position: relative;
  right: -100px;
}
.button-5 {
  position: relative;
  right: -175px;
}
