/* @require './_*.styl' */
html,
body {
  height: 100%;
  background: #111;
}
.App {
  margin: 0;
  text-align: center;
  color: #f4c242;
  font-family: Georgia, serif;
}
.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: #fff;
  font-family: Georgia, serif;
}
.SongManager {
  display: flex;
  padding-top: 20px;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 auto;
}
hr {
  height: 1px;
  padding: 0;
  margin: 0.75em 0;
}
.musicTemplate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  flex: 0 0 500px;
  width: 500px;
}
.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 1.5em;
  left: 0.15em;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 1.5em;
}
.chevron.right:before {
  transform: rotate(45deg);
}
.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}
.chevron.left:before {
  left: -60px;
  transform: rotate(-135deg);
}
.left {
  padding-right: 1vw;
  left: -300px;
}
.right {
  padding-left: 1vw;
  right: -300px;
}
.chevron {
  color: #f4c242;
  padding-top: 15vh;
}
.chevron:hover {
  color: #0b51cb;
  cursor: pointer;
}
.btn {
  border: none;
  background: none;
  padding: 0;
  position: relative;
  top: 100px;
}
.noteBtn-0 {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  opacity: 0.5;
  border: none;
  background: #ffff6b;
  right: 90px;
}
.noteBtn-1 {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  opacity: 0.5;
  border: none;
  background: #ffff6b;
  right: 50px;
}
.noteBtn-2 {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  opacity: 0.5;
  border: none;
  background: #ffff6b;
  right: 10px;
}
.noteBtn-3 {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  opacity: 0.5;
  border: none;
  background: #ffff6b;
  right: -30px;
}
.noteBtn-4 {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  opacity: 0.5;
  border: none;
  background: #ffff6b;
  right: -70px;
}
.noteBtn-5 {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  opacity: 0.5;
  border: none;
  background: #ffff6b;
  right: -110px;
}
.firstline {
  bottom: 10px;
}
.noteContainer {
  position: absolute;
}
.maxOpacity {
  opacity: 1;
  transition: 0.5s;
}
.noteBtn-left {
  top: 45px;
}
.noteBtn-left:before {
  content: '';
  display: block;
  position: absolute;
  opacity: 0.7;
  top: 50%;
  left: 35%;
  border-top: solid 8px transparent;
  border-right: solid 16px #000;
  border-bottom: solid 8px transparent;
  margin: -7px 0 0 -4px;
}
.noteBtn-right {
  top: 60px;
}
.noteBtn-right:before {
  content: '';
  display: block;
  position: absolute;
  opacity: 0.7;
  top: 50%;
  left: 35%;
  border-top: solid 8px transparent;
  border-left: solid 16px #000;
  border-bottom: solid 8px transparent;
  margin: -7px 0 0 0px;
}
.noteBtn-up {
  top: 17px;
}
.noteBtn-up:before {
  content: '';
  display: block;
  position: absolute;
  opacity: 0.7;
  top: 50%;
  left: 35%;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
  border-bottom: solid 16px #000;
  margin: -9px 0 0 -3px;
}
.noteBtn-down {
  top: 85px;
}
.noteBtn-down:before {
  content: '';
  display: block;
  position: absolute;
  opacity: 0.7;
  top: 50%;
  left: 35%;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
  border-top: solid 16px #000;
  margin: -5px 0 0 -3px;
}
.noteBtn-aKey {
  top: 110px;
  background: #2756d7 !important;
}
.noteBtn-aKey:before {
  content: '';
  display: block;
  position: absolute;
  opacity: 0.7;
  top: 50%;
  left: 35%;
  content: 'A';
  text-align: center;
  color: #fff;
  background: #2756d7;
  margin: -20% 0 0 0;
}
.song-title {
  color: #45bde2;
  font-size: calc(15px + 2vmin);
}
.title {
  font-size: calc(15px + 2vmin);
}
.zelda {
  color: #45bde2;
}
.saria {
  color: #45e26a;
}
.epona {
  color: #e26a45;
}
.sun {
  color: #ddb64a;
}
.time {
  color: #a827d7;
}
footer {
  margin-top: 5%;
  text-align: center;
  color: #fff;
  font-family: Georgia, serif;
  font-size: calc(5px + 1vmin);
}
footer p:first-child {
  font-size: calc(10px + 1vmin) !important;
}
