/* @require './_*.styl' */


html, body
  height:100%
  
.App
  background: lightgrey
  margin: 0



.SongManager
  display:flex
  padding-top: 20px
  flex-direction: row
  justify-content: center
  flex: 1 1 auto
  background-color: darkgrey
hr
  /*display: block*/
  height: 1px
  padding:0
  margin: 0.75em 0 
 // flex-grow: 1

.musicTemplate
  background-color: cyan
  display: flex
  justify-content: center
  flex-direction: column
  padding-top: 20px
  text-align: center
  flex:0 0 500px
  width: 500px



.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 1.5em;
  left: 0.15em;
  //position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 1.5em;
  //flex-basis: 10%
}


.chevron.right:before {
  //left: 60px;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: -60px;
  transform: rotate(-135deg);
}

.left
  padding-right: 1vw
  left: -300px

.right
  padding-left: 1vw
  right: -300px

.chevron
  padding-top: 15vh
  &:hover
    color: #0B51CB
    cursor: pointer

.btn
  border: none 
  background: none
  padding: 0
  position: relative
  top: 100px


.noteBtn
  position: relative
  width: 30px
  height: 30px
  text-align: center
  border-radius: 50%
  -moz-border-radius: 50%
  -webkit-border-radius: 50%
  opacity: 0.7
  border: none
  background: yellow
  // left
  &[data-key="37"] 
    top: 43px
    &:before
      content:''
      display: block
      position: absolute
      border-top: solid 7px transparent 
      border-right: solid 13px #000000
      border-bottom: solid 7px transparent
      opacity: 1
      top: 50%
      left 35%
      margin: -7px 0 0 -2px
  //up
  &[data-key="38"]
    top:17px
    &:before
      content: ''
      display: block
      position: absolute
      border-left: solid 7px transparent
      border-right: solid 7px transparent 
      border-bottom: solid 14px #000
      margin: -7px 0 0 2px
  //right
  &[data-key="39"]
    top:55px
  //down
  &[data-key="40"]
    top: 85px
  //A
  &[data-key="65"]
    top: 105px
    background: blue

.noteBtn-0
  @extends .noteBtn
  right: 130px


.noteBtn-1
  @extends .noteBtn
  right: 100px
  bottom: 50px

.noteBtn-2
  @extends .noteBtn
  right: 50px

.noteBtn-3
  @extends .noteBtn
  right: -25px

.noteBtn-4
  @extends .noteBtn
  right: -100px

.noteBtn-5
  @extends .noteBtn
  right: -175px

.firstline
  bottom: 10px


.noteContainer
  position: absolute

// .noteBtn-left:before
//   content:''
//   display: block
//   position: absolute
//   border-top: solid 7px transparent 
//   border-right: solid 13px #000000
//   border-bottom: solid 7px transparent
//   opacity: 0.5
//   top: 50%
//   left 20%
//   margin: -7px 0 0 4px
