/* @require './_*.styl' */
html,
body {
  height: 100%;
}
.App {
  background: #d3d3d3;
  margin: 0;
}
.SongManager {
  display: flex;
  padding-top: 20px;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 auto;
  background-color: #a9a9a9;
}
hr {
/*display: block*/
  height: 1px;
  padding: 0;
  margin: 0.75em 0;
}
.musicTemplate {
  background-color: #0ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  text-align: center;
  flex: 0 0 500px;
  width: 500px;
}
.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 1.5em;
  left: 0.15em;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 1.5em;
}
.chevron.right:before {
  transform: rotate(45deg);
}
.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}
.chevron.left:before {
  left: -60px;
  transform: rotate(-135deg);
}
.left {
  padding-right: 1vw;
  left: -300px;
}
.right {
  padding-left: 1vw;
  right: -300px;
}
.chevron {
  padding-top: 15vh;
}
.chevron:hover {
  color: #0b51cb;
  cursor: pointer;
}
.btn {
  border: none;
  background: none;
  padding: 0;
  position: relative;
  top: 100px;
}
.noteBtn,
.noteBtn-0,
.noteBtn-1,
.noteBtn-2,
.noteBtn-3,
.noteBtn-4,
.noteBtn-5 {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  opacity: 0.7;
  border: none;
  background: #ff0;
}
.noteBtn[data-key="37"],
.noteBtn-0[data-key="37"],
.noteBtn-1[data-key="37"],
.noteBtn-2[data-key="37"],
.noteBtn-3[data-key="37"],
.noteBtn-4[data-key="37"],
.noteBtn-5[data-key="37"] {
  top: 43px;
}
.noteBtn[data-key="37"]:before,
.noteBtn-0[data-key="37"]:before,
.noteBtn-1[data-key="37"]:before,
.noteBtn-2[data-key="37"]:before,
.noteBtn-3[data-key="37"]:before,
.noteBtn-4[data-key="37"]:before,
.noteBtn-5[data-key="37"]:before {
  content: '';
  display: block;
  position: absolute;
  border-top: solid 7px transparent;
  border-right: solid 13px #000;
  border-bottom: solid 7px transparent;
  opacity: 1;
  top: 50%;
  left: 35%;
  margin: -7px 0 0 -2px;
}
.noteBtn[data-key="38"],
.noteBtn-0[data-key="38"],
.noteBtn-1[data-key="38"],
.noteBtn-2[data-key="38"],
.noteBtn-3[data-key="38"],
.noteBtn-4[data-key="38"],
.noteBtn-5[data-key="38"] {
  top: 17px;
}
.noteBtn[data-key="38"]:before,
.noteBtn-0[data-key="38"]:before,
.noteBtn-1[data-key="38"]:before,
.noteBtn-2[data-key="38"]:before,
.noteBtn-3[data-key="38"]:before,
.noteBtn-4[data-key="38"]:before,
.noteBtn-5[data-key="38"]:before {
  content: '';
  display: block;
  position: absolute;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
  border-bottom: solid 14px #000;
  margin: -7px 0 0 2px;
}
.noteBtn[data-key="39"],
.noteBtn-0[data-key="39"],
.noteBtn-1[data-key="39"],
.noteBtn-2[data-key="39"],
.noteBtn-3[data-key="39"],
.noteBtn-4[data-key="39"],
.noteBtn-5[data-key="39"] {
  top: 55px;
}
.noteBtn[data-key="40"],
.noteBtn-0[data-key="40"],
.noteBtn-1[data-key="40"],
.noteBtn-2[data-key="40"],
.noteBtn-3[data-key="40"],
.noteBtn-4[data-key="40"],
.noteBtn-5[data-key="40"] {
  top: 85px;
}
.noteBtn[data-key="65"],
.noteBtn-0[data-key="65"],
.noteBtn-1[data-key="65"],
.noteBtn-2[data-key="65"],
.noteBtn-3[data-key="65"],
.noteBtn-4[data-key="65"],
.noteBtn-5[data-key="65"] {
  top: 105px;
  background: #00f;
}
.noteBtn-0 {
  right: 130px;
}
.noteBtn-1 {
  right: 100px;
  bottom: 50px;
}
.noteBtn-2 {
  right: 50px;
}
.noteBtn-3 {
  right: -25px;
}
.noteBtn-4 {
  right: -100px;
}
.noteBtn-5 {
  right: -175px;
}
.firstline {
  bottom: 10px;
}
.noteContainer {
  position: absolute;
}
